{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section container content">
  <div class="columns is-mobile is-multiline">
    <div class="column is-12-mobile is-9-desktop">
      <div class="card p-5">
        {{ .Content }}
      </div>
    </div>
    <div class="column is-12-mobile is-3-desktop">
      <div class="card p-4">
        <p class="pb-4">        
          {{ .Params.vision | markdownify }}
        </p>
        {{ .Params.mission | markdownify  }}  
      </div>
      {{ range .Params.images }}
        <img src="{{ .image | absURL }}" class="img-fluid rounded py-2">
      {{ end }}

    </div>    
  </div>
</section>


<!-- call to action -->
{{ with .Params.call_to_action }}
  {{ partial "cta.html" . }}
{{ end }}


{{ end }}